body {
	background-color: white;
}

.allCars {
	width: 100%;
	margin-top: 5%;
}

.allCars .carCard {
	width: 100%;
	border-radius: 10px;
	position: relative;
	margin-bottom: 30px;
	border: 1px solid lightgray;
}

.allCars .carCard #icon,
.allCars .carCard #favicon {
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: white;
	font-size: 25px;
}

.allCars .carCard #favicon {
	color: red;
}

.allCars .carCard a {
	text-decoration: none;
	color: black;
}

.allCars .carCard a:hover {
	text-decoration: underline;
	color: blueviolet;
}

.allCars .carCard a > h4 {
	font-size: clamp(1rem, 6vw, 2rem);
	margin-top: 20px;
	text-align: left;
	margin-left: 20px;
}

.allCars .carCard > a > img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.allCars .carCard .rightCard .details {
	display: flex;
	flex-direction: column;

	margin-left: 20px;
	margin-top: 10px;

	font-size: 20px;
}

.allCars .carCard .pricedetails > div {
	display: flex;
	gap: 5px;
	margin-top: 10px;
}

.allCars .card a:hover {
	color: blueviolet;
}
.pricedetails {
	position: absolute;
	right: 10px;
	bottom: 5%;
}
.pricedetails > h4 {
	font-size: 20px;
}
.pricedetails > h5 {
	margin-top: 2px;
	margin-left: 15px;
	font-size: 15px;
	font-weight: 400;
}

.pricedetails > p {
	margin-top: 10px;
	margin-left: 20px;
	text-decoration: underline;
	cursor: pointer;
}

.pricedetails > p:hover {
	color: blueviolet;
}

#morefilterBtn {
	padding: 8px;
	width: 150px;
	font-weight: 400;
}
.carInfo .price {
	position: absolute;
	right: 10px;
	top: 100px;
	margin-top: -20px;
}
.carInfo .price > a {
	color: blueviolet;
}
.carInfo .price > p {
	text-decoration: underline;
	color: blueviolet;
}
.carInfo .price > p:hover {
	color: black;
}
.carTitle {
	margin-top: 20px;
}
.carTitle > h5 {
	color: gray;
	margin-top: 15px;
	margin-bottom: 40px;
	font-size: 18px;
}
.allCars .sortBtns {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	padding: 20px;
	display: flex;
}
.allCars .sortBtns button {
	margin-right: 10px;

	padding: 10px;
	width: 100px;
}
.false {
	display: none;
}
.true {
	display: block;
}

#sorted,
#sortedPrice {
	width: 200px;
}
.carContainer > a {
	color: black;
	text-decoration: none;
}
.cars {
	position: relative;
	width: 700px;
	max-height: 300px;
	background-color: white;
	box-shadow: 1px 1px 1px 0.5px rgb(255, 249, 249);
	margin-bottom: 20px;
	border: 1px solid lightgray;
	border-radius: 10px;
}
.carBody #icon {
	position: absolute;
	font-size: 25px;
	right: 20px;
	top: 10px;
}
#stars {
	margin-top: -10px;
}
.carBody {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 50px;
}
.carBody .image > a > img {
	width: 350px;
}
.carInfo > a {
	font-size: 18px;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.carInfo > a:hover {
	color: blueviolet;
}

@media screen and (max-width: 767px) {
	.allCars {
		margin-top: 20%;
	}
}
@media screen and (max-width: 1023px) {
	.filter {
		display: block;
	}

	.sort {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.allCars {
		margin-left: 50px;
		width: 70vw;
	}
	.allCars .carCard {
		display: flex;
		width: 100%;
	}
	.allCars .carCard > a > img {
		width: 450px;
		height: 100%;
		border-radius: 0%;
	}
	.sortBtns {
		display: block;
	}
}
