.changePwd {
	margin-left: 150px;
}
.changePwd > div > h6 {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 5px;
}
.changePwd > div > input {
	border: 1px solid lightgray;
	outline-color: blueviolet;
	padding: 8px;
	width: 400px;
}
.changePwd > div > p {
	margin-top: 5px;
	font-size: 13px;
	color: gray;
}
.changePwd > div > a {
	display: block;
	text-decoration: none;
	color: blueviolet;
	font-size: 13px;
}
.changePwd > div > a:hover {
	text-decoration: underline;
}

.buttons {
	margin-top: 20px;
}
.active {
	background-color: blueviolet;
	color: white;
	padding: 15px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-right: 15px;
}
.inactive {
	background-color: rgb(231, 218, 218);
	color: black;
	padding: 15px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-right: 15px;
}
.buttons #cancel {
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 15px;
}
.buttons #cancel:hover {
	background-color: blueviolet;
	color: white;
}

@media screen and (max-width: 700px) {
	.changePwd {
		margin-left: 20px;
	}
	.changePwd > div > input {
		width: 300px;
	}
}
