.Display {
	margin: 5% 10%;
}
.Display > h2 {
	font-size: clamp(1.5rem, 6vw, 2.5rem);
}
.Display .info {
	text-align: center;
	margin-top: 50px;
}
.info #car {
	font-size: 150px;
	color: blueviolet;
}

@media screen and (max-width: 767px) {
	.Display {
		margin: 15% 2%;
	}
}
