.Card {
	width: 500px;
}

.Card > img {
	width: 350px;
	border-radius: 20px;
}

.Card .sub {
	display: flex;
	justify-content: center;
}

.Card .sub > h4 {
	margin-top: 0px;
	margin-left: 10px;
}
.main > h3 {
	text-align: left;
	margin-left: 130px;
	color: blueviolet;
}
.rec-dot {
	display: none;
}

@media screen and (max-width: 800px) {
	.Card > img {
		width: 250px;
	}
}
@media screen and (max-width: 500px) {
	.Card > img {
		width: 200px;
	}
	.main {
		text-align: left;
		margin: 100px 20px;
	}

	.Card .sub {
		justify-content: start;
	}
}
