.main {
	width: 100%;
	height: 100%;
	margin-top: 100px;
}
.main > h3 {
	text-align: center;
	font-size: clamp(2rem, 8vw, 3rem);
	background-image: linear-gradient(
		to right,
		rgba(138, 43, 226, 0.5),
		rgb(138, 43, 226, 0.6)
	);
	background-size: 400px 30px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
	margin-bottom: 50px;
}
.main .categories {
	display: grid;
	/* margin-left: 15%;
	margin-right: 10%; */
}

.Card {
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: -30px;
	justify-content: center;
	align-items: center;
	position: relative;
}
.Card > img {
	width: 100%;
	height: 80%;
	object-fit: cover;
}

.Card .sub {
	display: flex;
	justify-content: center;
	margin-left: -10px;
	margin-top: 15px;
}
.Card .CardOverLay {
	position: absolute;

	height: 80%;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	visibility: hidden;
	color: white;
	font-size: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.Card:hover .CardOverLay {
	visibility: visible;
}
.CardOverLay .OverLayContent {
	position: absolute;
	top: 15%;
}
.CardOverLay #superPrice {
	font-size: 40px;
}

.CardOverLay .prices {
	color: burlywood;
	font-weight: bold;
}
.sub > a {
	margin-top: 0px;
	margin-left: 10px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
}

.sub > a:hover {
	text-decoration: underline;
	color: blueviolet;
}
@media screen and (max-width: 680px) {
	.main > h3 {
		background-size: 200px 20px;
	}

	.categories {
		grid-template-columns: 1fr;
		margin-left: 10%;
		margin-right: 10%;
	}

	.CardOverLay {
		width: 100%;
	}
	.CardOverLay .toptext {
		margin-top: 10px;
	}
	.CardOverLay .toptext {
		margin-top: 30px;
	}
	.CardOverLay p {
		margin-left: 20px;
	}
}

@media screen and (min-width: 681px) {
	.main > h3 {
		font-size: 50px;
		background-size: 400px 30px;
	}

	.main .categories {
		grid-template-columns: 1fr 1fr;
		gap: 5px;
		margin-left: 12%;
		margin-right: 10%;
	}
	.Card img {
		width: 95%;
	}

	.CardOverLay {
		width: 95%;
	}
	.CardOverLay .toptext {
		margin-top: 40px;
	}
	.CardOverLay p {
		margin-left: 40px;
	}
}

@media screen and (min-width: 1025px) {
	.main .categories {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 5px;
		margin-left: 200px;
	}

	.CardOverLay {
		width: 95%;
	}

	.CardOverLay .toptext {
		margin-top: 70px;
	}
	.CardOverLay p {
		margin-left: 40px;
	}
}

/* @media screen and (max-width: 768px) {
	.main {
		margin-left: 25%;
		margin-right: 10%;
	}
	.Card {
		width: 85vw;
	}
} */

/* @media screen and (max-width: 500px) {
	.main {
		margin-left: 6%;
		width: 100%;
	}
	.main .categories {
		gap: 10px;
	}
	.Card {
		width: 320px;
	}
} */

/* @media screen and (max-width: 500px) {
	.main {
		text-align: left;
		margin: 100px 20px;
	}

	.Card .sub {
		justify-content: start;
	}
} */
