.filterModal {
	position: fixed;
	border: 1px solid rgb(240, 235, 235);
	background-color: white;
	border-radius: 10px;
	width: 400px;
	height: fit-content;
	top: 10%;
	left: 10%;

	box-shadow: 1px 1px 0.1px 0.1px #9e9e9e;
	z-index: 3;
}
.closeFilter {
	position: absolute;
	cursor: pointer;
	right: 5%;
}
.filterModal > h2 {
	text-align: center;
	margin-top: 20px;
}

.filterModal .label {
	color: gray;
	text-transform: uppercase;
	font-size: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.sortby > select {
	padding: 10px;
	border: 1px solid lightgray;
	outline-color: blueviolet;
	width: 300px;
}

.filterModal .applyBtn #resetBtn {
	background-color: white;
	border: 1px solid black;
	width: 100px;
	color: black;
}
.filterModal #resetsort {
	position: absolute;
	right: 15%;
	top: 2%;
	color: blueviolet;
	font-size: 20px;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.extrafilters,
	.filterModal #resetsort {
		display: block;
	}
	#resetBtn {
		display: none;
	}
	#viewResults {
		width: 80%;
	}
	.filterModal {
		min-width: 100vw;
		height: 100vh;
		left: 0;
	}
	.priceSlider,
	.slider p {
		margin-left: 10%;
	}
	.slider p {
		margin-bottom: -10px;
	}
	.closeFilter {
		top: 2%;
		right: 0;
		left: 5%;
	}

	.selector {
		width: 100px;
	}
	.sortby,
	#viewResults,
	.slider {
		margin-left: 5%;
	}
	.filterModal .applyBtn > button {
		width: 80%;
	}
}

@media screen and (min-width: 767px) {
	.extrafilters,
	.filterModal #resetsort {
		display: none;
	}
	#resetBtn {
		display: inline-block;
	}
}
@media screen and (min-width: 768px) {
	.filterModal {
		left: 5%;
		top: 20%;
		padding: 10px 30px;
	}
}
@media screen and (min-width: 1024px) {
	.filterModal {
		left: 10%;
		padding: 10px 30px;
	}
	.sortby,
	#viewResults,
	.slider {
		margin-left: 5%;
	}
}
