.layoutContainer {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.footerSection {
	margin-top: auto;
	background-color: #000d1a;

	width: 100%;
	/* margin-top: -50px; */
}
.footerContain {
	display: grid;

	gap: 10px;
	margin-left: 10%;

	padding: 8rem 0;
}
/* .firstColumn {
	width: 400px;
} */
.firstColumn h3 {
	color: goldenrod;
	font-size: 25px;
	margin-bottom: 10px;
}

.firstColumn p {
	margin-top: 20px;
	font-size: 18px;
	color: white;
}
#callcenter {
	color: goldenrod;
	text-transform: uppercase;
}

.footerTitle {
	color: white;
	font-weight: bold;
	font-size: 25px;
}
.secondColumn {
	color: white;
	display: flex;
}

.footerLinks {
	display: flex;
	flex-direction: column;
}
.footerLinks a {
	margin-top: 25px;
	text-decoration: none;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
}
.footerLinks a:hover {
	color: goldenrod;
	text-decoration: underline;
}

.footerIcons {
	color: white;
	font-size: 20px;
	margin-right: 10px;
	margin-top: 25px;
}

.copyright {
	text-align: center;
	color: white;
	padding: 20px 20px 20px 0px;
	font-size: 18px;
	font-weight: bold;
}

@media screen and (max-width: 680px) {
	.footerContain {
		grid-template-columns: 100%;
		row-gap: 50px;
	}
	.secondColumn {
		flex-direction: column;
		row-gap: 50px;
	}
	.quickLinks {
		width: 100%;
	}
}

@media screen and (min-width: 681px) {
	.footerContain {
		grid-template-columns: 100%;
		row-gap: 50px;
	}
	.quickLinks {
		margin-right: 200px;
	}
}

@media screen and (min-width: 1025px) {
	.footerContain {
		grid-template-columns: 600px 1fr;
	}
	.firstColumn {
		width: 600px;
	}
	.quickLinks {
		margin-right: 200px;
	}
}
