.resetContainer {
	margin: 50px;
}
.setemail {
	display: flex;
	flex-direction: column;
}
.setemail > input {
	width: 400px;
	margin-top: 5px;
	margin-bottom: 10px;
	outline-color: blueviolet;
	height: 30px;
	border: 1px solid lightgray;
}

#reset {
	border: 1px solid lightgray;
	padding: 10px;
	border-radius: 10px;
	margin-right: 10px;
}

.active {
	background-color: blueviolet;
	color: white;
}

#back {
	background-color: white;
	border: 1px solid lightgray;
	padding: 10px;
	border-radius: 5px;
}
