.resetContainer {
	text-align: center;
}
.setemail {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.setemail > input {
	display: block;
	width: 400px;
	margin: 5px auto 10px auto;
	outline-color: blueviolet;
	height: 30px;
	border: 1px solid lightgray;
}

#reset {
	border: 1px solid lightgray;
	padding: 10px;
	border-radius: 10px;
	margin-right: 10px;
}

.active {
	background-color: blueviolet;
	color: white;
}

#back {
	background-color: white;
	border: 1px solid lightgray;
	padding: 10px;
	border-radius: 5px;
}
