.resetContainer {
	text-align: center;
	margin: 5%;
}

.resetContainer > h1 {
	margin-bottom: 15px;
}

.setemail {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.setemail > input {
	display: block;
	width: 30%;
	margin: 5px auto 10px auto;
	outline-color: blueviolet;
	height: 30px;
	border: 1px solid lightgray;
}

#reset {
	border: 1px solid lightgray;
	padding: 10px;
	border-radius: 10px;
	margin-right: 10px;
}

.active {
	background-color: blueviolet;
	color: white;
}

#back {
	background-color: white;
	border: 1px solid lightgray;
	padding: 10px;
	border-radius: 5px;
}

@media screen and (max-width: 767px) {
	.setemail input {
		width: 60vw;
	}
}
