* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: whitesmoke;
}

button {
	background-color: transparent;
	border: 1px solid goldenrod;
	padding: 25px 50px;

	text-transform: uppercase;
}
button:hover {
	background-color: whitesmoke;
	border: 1px solid black;
}
