.heroContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	width: 100vw;
	margin-top: 20px;
	z-index: 8;
}

.box {
	margin-top: 25px;
	text-align: left;
}

.box > input {
	background-color: transparent;
	padding: 10px;
	outline: none;
	border: none;
	border-bottom: 1px solid white;
	width: 200px;
	color: white;
}

.datepicker {
	outline: none;
	border: none;
	border-bottom: 1px solid white;
}

.search button {
	padding: 20px;
	color: white;
	margin-top: 50px;
	margin-left: -15px;
}

.search button:hover {
	background-color: transparent;
	border: 1px solid goldenrod;
}

.errors {
	color: red;
	margin-top: 10px;
	font-weight: bold;
	font-size: 15px;
}
@media screen and (max-width: 900px) {
	.heroContainer {
		width: 220px;
		flex-wrap: wrap;
	}
	.box {
		text-align: left;
	}
	.box > span {
		display: block;
	}
	.box > input {
		box-sizing: border-box;
	}
	.searchIcon {
		display: none;
	}

	.HideBtn {
		display: block;
	}

	.box > input {
		width: 80vw;
	}
}

::-webkit-calendar-picker-indicator {
	filter: invert(1) brightness(50%) sepia(100%) saturate(10000%)
		hue-rotate(180deg);
}

#continueDisabledBtn {
	background-color: lightgray;
}

#continueDisabledBtn:hover {
	background-color: lightgray;
	border: none;
}
