.heroContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	width: 100vw;
	margin-top: 20px;
}

.box {
	margin-top: 25px;
	text-align: left;
}

.box > input {
	background-color: transparent;
	padding: 10px;
	outline: none;
	border: none;
	border-bottom: 1px solid white;
	width: 200px;
	color: white;
}
.search .searchIcon {
	font-size: 20px;
	margin-top: 18px;
	background-color: #000d1a;
	border-radius: 50%;
	padding: 10px;
	color: white;
	width: 50px;
	height: 50px;
}
.HideBtn {
	display: none;

	color: white;
	font-weight: bold;
	font-size: 15px;

	padding: 10px;
	margin-top: 20px;
}

@media screen and (max-width: 900px) {
	.heroContainer {
		width: 220px;
		flex-wrap: wrap;
	}
	.box {
		text-align: left;
	}
	.box > span {
		display: block;
	}
	.box > input {
		box-sizing: border-box;
	}
	.searchIcon {
		display: none;
	}

	.HideBtn {
		display: block;
	}

	.box > input {
		width: 80vw;
	}
}

::-webkit-calendar-picker-indicator {
	filter: invert(1) brightness(50%) sepia(100%) saturate(10000%)
		hue-rotate(180deg);
}
