.hostcontainer {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.hostcontainer > h2 {
	font-size: 50px;
	background-image: linear-gradient(
		to right,
		rgba(138, 43, 226, 0.5),
		rgb(138, 43, 226, 0.6)
	);
	background-size: 400px 30px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
}

.hostcontainer > h3 {
	text-align: left;
	margin: 50px 50px 30px 100px;
	font-size: 25px;
}
.hostsContainer {
	background-color: white;
	border: 1px solid lightgray;
	width: 300px;
	height: 250px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 2px 2px 3px 1px lightgray;
	border-radius: 10px;
}

.hostsContainer .profile {
	display: flex;
	margin-top: 5px;
	margin-left: 10px;
	gap: 20px;
}

.hostsContainer .profile > img {
	width: 100px;
	border-radius: 50%;
}

.hostsContainer .profile .trips {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.hostsContainer .profile .trips .name {
	font-weight: bold;
}

.hostsContainer .profile .trips .trip {
	font-size: 13px;
}

.hostsContainer > p {
	text-align: left;
	font-size: 15px;
}

.hostsContainer .customer {
	font-size: 13px;
	text-align: left;
	font-weight: 500;
}

.hostsContainer .customer span {
	color: black;
	margin-left: 5px;
}

@media screen and (max-width: 800px) {
	.hostsContainer {
		width: 250px;
	}
}
@media screen and (max-width: 500px) {
	.hostsContainer {
		width: 200px;
	}
}
