.ListContainer {
	margin: 5%;
}
.ListContainer .type h1 {
	font-size: clamp(2rem, 6vw, 3rem);
}

.ListContainer h5 {
	text-transform: uppercase;
	color: goldenrod;
	font-size: 14px;
	font-weight: bold;

	margin-top: 20px;
}

.ListContainer button {
	margin-top: 25px;
}

.Typewriter__cursor {
	color: white;
}
.Typewriter__wrapper {
	color: goldenrod;
}

.ListContainer img {
	width: 90%;
	margin-top: 50px;
}

@media screen and (max-width: 1024px) {
	.ListContainer img {
		width: 100%;
	}
}
