button,
a {
	cursor: pointer;
}

.modalBg {
	position: relative;
	border: 1px solid rgb(240, 235, 235);
	background-color: white;
	border-radius: 10px;
	width: 450px;
	height: 400px;
	padding: 10px 30px;
	box-shadow: 1px 1px 0.1px 0.1px #9e9e9e;
	z-index: 3;
	margin: 0 auto 50px auto;
}

.modalBg .closeAccount {
	position: absolute;

	cursor: pointer;
}

.modalBg .closeTitle {
	text-align: center;
	margin-top: 15%;
}

.modalBg .closeBody {
	font-size: 18px;
	margin-top: 20px;
	line-height: 2rem;
}
.modalBg .closeLinks {
	color: goldenrod;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}

.modalBg .closeLinks > p:hover {
	text-decoration: underline;
	cursor: pointer;
}

.closeFooterBtns {
	text-align: end;
}
.modalBg .closeFooterBtns {
	margin-top: 10px;
}
.closeFooterBtns #agree {
	margin-left: 10px;
	padding: 10px;
}

.closeFooterBtns #decline {
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	cursor: pointer;
}
.closeFooterBtns #decline:hover {
	background-color: rgb(226, 209, 243);
	border: 1px solid blueviolet;
}

/* !Accept Modal styles */

.acceptBg {
	position: relative;
	border: 1px solid rgb(240, 235, 235);
	background-color: white;
	border-radius: 10px;
	width: 400px;
	height: 300px;
	padding: 10px 30px;
	box-shadow: 1px 1px 0.1px 0.1px #9e9e9e;
	z-index: 3;
	margin: 0 auto 50px auto;
}

.acceptBg .acceptTitle > h1 {
	font-size: 20px;
	font-weight: 200;
	margin-top: 30%;
	align-self: center;
}

.acceptBg .acceptFooterBtns {
	margin-top: 100px;
	text-align: end;
}

.acceptFooterBtns button {
	padding: 10px;
	margin-right: 5px;
}

.acceptBg .closeAccept {
	position: absolute;
}

/* !Reset password modal settings */

.resetBg {
	position: relative;
	border: 1px solid rgb(240, 235, 235);
	background-color: white;
	border-radius: 10px;
	width: 300px;
	height: 200px;
	padding: 10px;
	box-shadow: 1px 1px 0.1px 0.1px #9e9e9e;
	z-index: 3;
	margin: 0 auto 50px auto;
}
.resetBg > h3 {
	color: blueviolet;
}

/* !Close account modal settings */

.closeBg {
	position: relative;
	border: 1px solid rgb(240, 235, 235);
	background-color: white;
	border-radius: 10px;
	width: 600px;
	height: 600px;
	padding: 20px;
	box-shadow: 1px 1px 0.1px 0.1px #9e9e9e;
	z-index: 3;
	margin: 0 auto 50px auto;
}

.closeIcon {
	position: absolute;
	right: 5%;
	top: 5%;
	cursor: pointer;
}
.closeBg .title {
	margin-top: 30px;
}
.closeBg .title > h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}
.closeBg .body {
	font-weight: 500;

	color: #474747;
}
.closeBg .body > p {
	font-size: 20px;
}
.closeBg .body > ul > li {
	margin: 5%;
	font-size: 20px;
}
.closeBg .footerBtns > .updateBtns {
	margin-right: 15px;
}
#cancelClose {
	border-color: black;
}

@media screen and (max-width: 767px) {
	.closeBg,
	.modalBg,
	.acceptBg {
		position: absolute;
		width: 100vw;
		height: 150vh;
		left: 0;
		top: 10%;
	}
	.closeAccount,
	.closeAccept {
		top: 2%;
		right: 5%;
	}
	.modalBg .closeFooterBtns {
		margin-top: 50px;
	}
}

@media screen and (min-width: 768px) {
	.closeAccount,
	.closeAccept {
		top: 8%;
		right: 8%;
	}
}
