.carCard {
	background-color: white;
	width: 200px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
.carCard > img {
	width: 200px;
	height: 110px;
	object-fit: cover;
}
.carCard > h4 {
	text-align: center;
}
.model {
	margin: 50px 20px 20px 50px;
}
.model > h3 {
	text-align: start;
	margin-left: 60px;
	color: blueviolet;
}

@media screen and (max-width: 900px) {
	.model > h3 {
		text-align: center;
		margin-right: 100px;
	}
}
