.noCars {
	margin: 50px;
	text-align: center;
}

.body #road {
	color: blueviolet;
	font-size: 200px;
	border-radius: 50%;
}
.subbody {
	margin-top: -10px;
}
.subbody > h3 {
	font-size: 26px;
}

.subbody > button {
	font-weight: bold;
	margin-top: 15px;
}

@media screen and (min-width: 900px) {
	.noCars {
		margin: 50px 50px 50px 200px;
	}
}
