.browse {
	display: flex;
	margin: 40px;
	/* 
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	column-gap: 150px; */
}
.browse > img {
	width: 500px;
}
.browse .right {
	margin-top: 20px;
	text-align: left;
	width: 600px;
}
.span {
	color: blueviolet;
}

.browse .right > h3 {
	font-size: 35px;
}
.browse .right > button {
	background-color: blueviolet;
	border-color: blueviolet;
	color: white;
	padding: 15px 20px;
	font-weight: bold;
	margin-top: 10px;
}
.browse .right > button:hover {
	background-color: purple;
	border-color: purple;
}

@media screen and (max-width: 800px) {
	.browse {
		margin-left: 0px;
		margin-top: 50px;
		flex-wrap: wrap;
	}
	.browse > img {
		margin: 0 auto;
	}

	.browse .right {
		margin: 0 auto;
		width: 400px;
	}

	.browse .right > h3 {
		font-size: 20px;
	}
}

@media screen and (max-width: 900px) {
	/* .browse .right {
		margin-top: 10px;
		width: 400px;
	} */

	.browse .right > h3 {
		font-size: 25px;
	}
}
