.priceDetailsContainer {
	position: fixed;
	left: 30%;
	top: 10%;
	z-index: 3;
}
.priceDetails {
	position: relative;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 0.5px rgb(255, 249, 249);
	width: 70%;
	height: 550px;
	padding: 8% 5%;
}
#clear {
	font-size: 30px;
	position: absolute;
	right: 15px;
	top: 10px;
}
.priceDetails > h2 {
	font-size: 30px;
	margin-bottom: 15px;
}
.priceBody > h4 {
	color: gray;
	text-transform: uppercase;
	font-size: 13px;

	margin-bottom: 15px;
}
.tripfee {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.baseprice {
	display: flex;
}
.baseprice > h5 {
	font-size: 18px;
	font-weight: 200;
	margin-top: 10px;
	margin-bottom: 10px;
}
.baseprice #total {
	margin-left: auto;
}
.baseprice #tick {
	margin-top: 10px;
	margin-right: 15px;
	color: rgb(110, 238, 110);
}

.totalprice {
	display: flex;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 15px;
}
.totalprice #est {
	margin-left: auto;
}
.tripprice > h5 {
	text-transform: uppercase;
	color: gray;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 14px;
}

.tripfee > h5 {
	font-size: 17px;
	margin-top: 15px;
}

.tripfee > p {
	color: gray;
	margin-top: 15px;
	font-size: 15px;
	margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
	.priceDetailsContainer {
		position: absolute;
		left: 0;
		top: 0;
	}
	.priceDetails {
		width: 100vw;
		height: 100vh;
	}
}
