.profileContainer {
	position: relative;
	margin: 10% 5%;
}
.profile {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	margin-top: 10%;
}

.editBtn {
	position: absolute;
	right: 10%;
	top: 2%;
	display: flex;
	gap: 20px;
}
.editBtn button {
	width: 100px;
	padding: 10px;
	text-transform: none;
}
.profile .icon {
	font-size: 100px;
	color: lightgray;
}

.leftProfile .date {
	margin-top: 10px;
	margin-bottom: 20px;
}
#profilepic {
	width: 150px;
}
.leftProfile .profiler {
	font-size: 50px;
	border: 4px solid lightgray;
	border-radius: 50%;
	color: blueviolet;
	width: 150px;
	text-align: center;
	padding: 10px;
}
.verifyInfo {
	font-size: 18px;
	color: gray;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 50px;
}

.verifyOption {
	display: flex;
	font-size: 18px;
	margin-top: -10px;
}

.verifyOption > a,
.verifyOption .check {
	margin-top: 17px;
	color: blueviolet;
	font-weight: bold;
	margin-left: auto;
	text-decoration: none;
}
.rightProfile {
	margin-top: 50px;
	margin-left: 50px;
}
.reviewContainer {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}
.review .icon {
	font-size: 80px;
	display: block;
}
.review > div > p {
	font-size: 18px;
	font-weight: 500;
	margin-top: 0px;
}

/* ! edit profile styles */

.left .changeprofile {
	display: flex;
	flex-direction: column;
}
.profileBtn > button {
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-transform: none;
}
#disableBtn {
	border: 1px solid lightgray;
}
.gray {
	color: gray;
	margin-top: 10px;
	margin-bottom: 10px;
}

.textareaLabel {
	font-size: 18px;

	margin-bottom: 20px;
}
.right > textarea {
	/*  */
	height: 100px;
	border: 1px solid lightgray;
	outline-color: blueviolet;
}

.left input {
	width: 400px;
	border: 1px solid lightgray;
	padding: 8px;
	outline-color: blueviolet;
}
.verify > a:hover {
	color: purple;
	text-decoration: underline;
}

@media screen and (max-width: 1023px) {
	.profile {
		grid-template-columns: 1fr;
	}

	.profile {
		margin-top: 25%;
	}
	.mainProfile,
	.date {
		text-align: center;
	}
	.rightProfile {
		margin-top: -65px;
		margin-left: 7px;
	}

	.right > textarea {
		width: 85vw;
	}
	.left input {
		width: 90vw;
	}
	#profilepic {
		width: 100px;
	}

	.profileContainer {
		margin-top: 20%;
		width: 90vw;
		/* background-color: red; */
	}

	.gray,
	.verifyOption,
	.textareaLabel,
	.reviewContainer {
		width: 90%;
	}
	.names > p {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 1024px) {
	.right > textarea {
		width: 350px;
	}
}
