.sharingContainer {
	margin: 10px 50px 50px 100px;
}
.sharingContainer > h2 {
	color: blueviolet;
	font-size: 40px;
}
.sharing {
	display: flex;
	gap: 50px;
}
.sharing > img {
	width: 400px;
	height: 400px;
	margin-top: 50px;
}
.sharing .instruct {
	width: 500px;
}

@media screen and (max-width: 900px) {
	.sharing {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 700px) {
	.sharing {
		flex-wrap: wrap;
	}

	.sharingContainer {
		margin: 10px 20px;
	}
}
