.sharingSection {
	background-color: whitesmoke;
	margin-bottom: 50px;
	margin-top: 150px;
}
.sharingContainer {
	display: flex;

	width: 100%;
	height: 100%;
}
.sharingLeft {
	width: 100%;
}
.sharingLeft img {
	width: 100%;
	height: 100%;
}

.sharingRight {
	padding: 4rem 5rem;
}
.sharingRight h2 {
	font-size: clamp(2rem, 6vw, 3rem);
	font-weight: 600;
}

.sharingOptions {
	margin-top: 25px;
}
.sharingOptions h3 {
	color: goldenrod;
	font-weight: bold;
	font-size: 20px;
}
.sharingOptions p {
	font-size: 18px;
	margin-top: 10px;
}

@media screen and (max-width: 1024px) {
	.sharingContainer {
		flex-direction: column-reverse;
	}
	.sharingRight {
		padding: 2rem;
	}
	.sharingSection {
		margin-top: 50px;
	}
}
