.signupContainer {
	margin-top: 100px;
}
.signupContainer > h2 {
	text-align: center;
}

.signupForm {
	display: table;
	margin: 50px auto;
}
.name {
	display: flex;
	gap: 5px;
}
.name .firstname,
.name .lastname {
	display: flex;
	flex-direction: column;
	font-size: 18px;
}
.firstname > input,
.lastname > input {
	width: 200px;
	height: 35px;
	margin-top: 5px;
	margin-bottom: 10px;
	outline-color: blueviolet;

	border: 1px solid lightgray;
	box-sizing: border-box;
}

.signupForm {
	position: relative;
}
.signupForm .driverName {
	font-size: 14px;
	color: blueviolet;
}

.signupForm .mail,
.signupForm .highlights,
.signupForm .password {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	font-size: 18px;
}

.signupForm .mail > input,
.signupForm .password > input {
	width: 400px;
	margin-top: 2px;
	outline-color: blueviolet;
	height: 30px;
	border: 1px solid lightgray;
	box-sizing: border-box;
}

.check > input {
	margin-bottom: 10px;
}
.check > span {
	font-size: 13px;
}
.check .terms {
	color: blue;
}

.signupForm > button {
	background-color: blueviolet;
	color: white;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 2px;
	padding: 10px;
	width: 400px;
}

.signupForm > button:hover {
	background-color: purple;
}

.signupContainer .login {
	margin-top: 50px;
	text-align: center;
}

.login > button {
	background-color: white;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 2px;
	padding: 10px;
	width: 400px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.login > button:hover {
	background-color: rgb(230, 217, 243);
	border: 1px solid blueviolet;
}

.error {
	color: red;
	font-size: 13px;
}
.name .highlight > input {
	width: 200px;
	margin-top: 5px;
	margin-bottom: 10px;
	outline-color: blueviolet;
	height: 30px;
	border: 1px solid red;
	box-sizing: border-box;
}
.name .highlight {
	display: flex;
	flex-direction: column;
}
.signupForm .highlights > input {
	width: 400px;
	margin-top: 2px;
	outline-color: blueviolet;
	height: 30px;
	border: 1px solid red;
	box-sizing: border-box;
}
.redterms {
	color: red;
}
