.sustain {
	margin-top: 100px;
}

.sustain .carbon {
	display: flex;
}

.sustain .carbon .left {
	width: 500px;
	margin-left: 50px;
	text-align: left;
}

.sustain .carbon .right {
	margin-left: auto;
	margin-right: 50px;
}
.sustain > img {
	width: 30%;
	height: auto;
}
.sustain .carbon .right > button {
	background-color: blueviolet;
	border: 1px solid blueviolet;
	color: white;
	padding: 15px 25px;
	font-weight: bolder;
}

.sustain .carbon .right > button:hover {
	background-color: purple;
	border: 1px solid purple;
}
